<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Working with data has alwasy brought joy and feeling of fulfillment. Being able to get the insights out of simingly meaningless rows of numbers is something magical for me and always keeps me going forward. Helping out my team in making data-driven decisions is at the top of my priorities.
            </p>
            <p class="paragraph-text justify-text">
                Analytics is one thing, automating the processes is another. I always strive to automate as many processes as I can, starting from data collection and preprocessing, up to final visualizations and conclusions. Eliminating the human induced errors is the crucial step to imrpoving the quality of the analysis and its overall performance.
            </p>
            <p class="paragraph-text justify-text">
                In my professional career, I have never backed down from an assigned task and always looked for new challenges to take on during my work. 
            </p>
            <p class="paragraph-text justify-text">
                In my free time, I love to take my camera and dive into a new city looking for incredible geometrical shots that can be posted on my dedicated instagram account.
            </p>
        </div>
    </section>
</div>
